

<%- include('partials/header') %> 


<h1 id="level-title" >Simon Game</h1>
  <h4 id="level-title-1">Press Any Key to Start</h1>
  <div class="container">
    <div lass="row">

      <div type="button" id="green" class="btn green">

      </div>

      <div type="button" id="red" class="btn red">

      </div>
    </div>

    <div class="row">

      <div type="button" id="yellow" class="btn yellow">

      </div>
      <div type="button" id="blue" class="btn blue">

      </div>

    </div>

  </div>
  <div id="overlay">
    <div id="overlay-card" class="card bg-light" >
      <div class="card-body">
        <form class="form" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Enter your initials</h1>
        <div class="cycler">
        <div class="cyclic_input 1" tabindex="0">A</div>
        <div class="cyclic_input 2" tabindex="0">A</div>
        <div class="cyclic_input 3" tabindex="0">A</div>
        </div>
        <input type="text" class="username-form" style="display: none;" name="username">
        <input type="text" class="score-form" style="display: none;" name="score">
      
        <a class="done-input" >done</a>
      </div>
    </div>
  </div>


<%-include('partials/footer') %> 